{%- assign info = site.info %}
{%- assign desc = page.excerpt
    | default: site.description
    | strip_html
    | strip_newlines %}
{%- assign families = info.font_families | join: "&family=" %}
{%- assign og_image = info.meta.og_image | prepend: '/assets/' %}
{%- assign canonical = page.url | remove: ".html" | remove: ".md" | prepend: info.url %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <meta name="application-name" content="{{ site.title }}" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="theme-color" content="{{ info.color.theme }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="{{ info.color.theme }}" />
  <meta name="description" content="{{ desc }}" />
  <meta name="keywords" content="{{ info.meta.keywords | strip_newlines }}" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ desc }}" />
  <meta property="og:url" content="{{ canonical }}" />
  <meta property="og:image" content="{{ page.image | default: og_image }}" />

  <link rel="canonical" href="{{ canonical }}" />
  <link rel="manifest" href="/assets/site.webmanifest" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel='preconnect' href="https://fonts.googleapis.com" crossorigin />
  <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family={{ families }}&display=swap"
        onload='this.onload=null;this.rel="stylesheet"' />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/{{ info.meta.favicon }}?" />
  {%- for icon in info.icons %}
  <link rel="icon" type="{{ icon.type }}" href="{{ icon.href }}" />
  {%- endfor %}

  <link rel="apple-touch-icon" href="/assets/{{ info.meta.apple_icon }}" />
  {%- for size in info.logo.sizes %}
  <link rel="apple-touch-icon" sizes="{{size}}x{{size}}" href="/assets/logo-square-{{size}}.png" />
  {%- endfor %}
