---
layout: default
---
<section id='guests' class='page center-box-container'>
  {% include logo.html %}
  <h1>guests</h1>

  <p id='stats' hidden>
    accepted: <code id='_accepted'></code><br/>
    declined: <code id='_declined'></code><br/>
    remained: <code id='_remained'></code><br/>
    est total: <code id='_total'></code><br/>
  </p>

  <table>
    <thead>
      <td><span class='material-symbols-outlined'>check</span></td>
      <th>Name</th><td>Phone</td><td>Guests</td>
    </thead>
    <tbody id='list'></tbody>
  </table>

  <a class='special spacer-2' href='/rsvp-add'>add a new rsvp</a>
</section>

<script src='/assets/js/guests.js'></script>

{% include auth.html %}
