---
layout: default
---
{% assign MAIN = site.data.main %}

<section id='rsvp' class='page center-box-container visible'>
  {% include logo.html %}

  <h1>rsvp</h1>
  <p>
    <span id='rsvp-tag'>Please let us know if you're attending.</span>
    <span id='date-time' hidden>Our wedding will be on {{ MAIN.date }} at {{ MAIN.time }}</span>
  </p>

  <p hidden id='note'></p>

  {% include input.html class='spacer-1' name='name' label='Full name' %}
  {% include input.html class='spacer-2' name='phone' type='tel' label='Mobile phone' %}
  {% include input.html
      class='spacer-2'
      name='guests'
      type='number'
      label='Number of guests'
      pattern='[0-9]*'
      bottom='Include yourself'
  %}

  <div class='spacer-4'>
    <p hidden id='_accepted'>
      You've already accepted our invitation, you can update the number of guests.
      Please send us a note and let us know.
    </p>
    <p hidden id='_declined'>
      You've already declined our invitation.
      However, if you've changed your mind, we'd love it if you can join us.
    </p>
  </div>

  {% include input.html class='message-box spacer-1' name='message' label='Optional message' %}

  <div class='spacer-4'>
    {% include button.html label='Decline' dataId='rsvp' onclick='decline(this)' class='button-red' %}
    {% include button.html label='ACCEPT' dataId='rsvp' onclick='accept(this)' %}
  </div>
</section>

<section id='rsvp-closed' class='page center-box-container'>
  {% include logo.html %}

  <h1>rsvp closed</h1>
  <p>
    RSVP has been closed.
    Please contact Paul.
  </p>
  {% include button.html label='Information' href='/modules/information' type='A' class='spacer-4' %}
</section>

<script defer src='/assets/js/rsvp.js'></script>
