---
layout: default
---

<section id='rsvp-add' class='page center-box-container visible'>
  {% include logo.html %}

  <h1>rsvp add</h1>

  {% include input.html class='spacer-1' name='name' label='Full name' enabled=1 %}
  {% include input.html class='spacer-2' name='phone' type='tel' label='Mobile phone' enabled=1 %}
  {% include input.html
     class='spacer-2'
     name='guests'
     type='number'
     label='Number of guests'
     pattern='[0-9]*'
     enabled=1
  %}

  {% include button.html label='Add' dataId='rsvp-add' onclick='add(this)' class='spacer-4' %}
</section>

<script src='/assets/js/admin.js'></script>
