---
layout: default
tree: vertical
---

<section class='page center-box-container visible'>
  {% include logo.html %}

  <h1>Bride's Family</h1>
  <div class='tree-vertical'>
    {% assign parents = site.data.family.bride.parents %}
    <ul>
      {% include tree/vblock.html name=parents.name children=parents.children %}
    </ul>
  </div>

  <div style='margin-top: 6em'></div>
  <h1>Groom's Family</h1>
  <div class='tree-vertical'>
    {% assign parents = site.data.family.groom.parents %}
    <ul>
      {% include tree/vblock.html name=parents.name children=parents.children %}
    </ul>
  </div>

  <div style='margin-top: 6em'></div>
  <h1>Paul's God Family</h1>
  <div class='tree-vertical'>
    {% assign parents = site.data.family.paul.parents %}
    <ul>
      {% include tree/vblock.html name=parents.name children=parents.children %}
    </ul>
  </div>

  {% include button.html href='/tree/horizontal' class='spacer-4' label='Wide Graph' %}
</section>

